.container {
    display: grid;
    grid-template-columns: 1fr 200px 300px 300px 200px 1fr;
    width: 100%;
    padding: calc(var(--section-padding) * 2) 0;
}
    .container > .row-short {
        display: inline-block;
        grid-column: 3 / 5;
    }
    .container > .row {
        display: inline-block;
        grid-column: 2 / 6;
    }
        .container > .row > .column {
            display: inline-block;
            float: left;
        }
            .container > .row > .column.left {
                width: 50%;
            }
            .container > .row > .column.right {
                width: 40%;
                margin-left: 10%;
            }
