
.bigdonatewords {
    width: 100vw;
    height: 100vh;
  background-color: white;
}
.support {
  padding-top: 80px;
  padding-left: 50px;
  font-family: "Brother-1816-ExtraBold";
  margin-right: auto;
  width: 50vw;
  text-align: left;
  font-size: 100px;
  color:#266BCC;
  -webkit-font-smoothing: antialiased;
}

.supportnonbold {
  padding-top: 20px;
  padding-left: 50px;
  font-family: "Brother-1816-ExtraBold";
  margin-right: auto;
  width: 60vw;
  text-align: left;
  font-size: 20px;
  color:#266BCC;
  -webkit-font-smoothing: antialiased;
}

.john {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  padding-bottom: 3px;
  position: relative;
  min-width: 150px;
  width: auto;
  height: auto;
}

.john:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background:#DB504A;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.john:hover:after { 
  width: 100%; 
  left: 0; 
}

.conditions {
  padding-top: 20px;
  padding-left: 50px;
  font-family: "Brother-1816-Light";
  margin-right: auto;
  width: 60vw;
  text-align: left;
  font-size: 10px;
  color:#266BCC;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 30px;
}

ul { 
    margin: 0px; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 800px;
    text-align: center;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10vw;
    position: absolute;
    /** here   **/
  }

  .ulChrome {
    right: 0px;
  }

  .ulSafari {
    right:20px;
  }

  li {
    display: table-cell;
    position: relative;
    padding: 0px 0;
    height: 0px;
    vertical-align:middle;
  }
  .btn {
    color: #266BCC;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    min-width: 150px;
    width: auto;
    right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: 800;
  }
  .btn:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #266BCC;
    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -ms-transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
  .btn:hover:after { 
    width: 100%; 
    left: 0; 
  }

  .platformbtn {
    color: white;
  }

  .platformbtn::after {
    background-color: white;
  }
.container1 {

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  z-index: 100;
  height: 100px;
}


.donate {
  color: #DB504A;
}

.donate::after {
  background-color: #DB504A;
}