@font-face {
  font-family: Brother-1816;
  src: url("/css/Brother1816-Regular.woff2") format("woff2")
}

@font-face {
  font-family: Brother-1816-ExtraBold;
  src: url("/css/Brother1816-ExtraBold.woff2") format("woff2")
}

@font-face {
  font-family: Brother-1816-Light;
  src: url("/css/Brother1816-Thin.woff2") format("woff2")
}

.front {
    height: 4900px;
    width: 100vw;
    background-image: url("img/road.png");
    background-position: center;
    background-repeat: repeat-y;
}

.car {
    width: 109.2px;
    height: 49.9px;
  margin-top: 30px;
  margin-bottom: 0;
}

.cardiv {
    width: 100px;
    height: 150px;
    position: fixed;
    right: 50%;
    top: 100px;
    z-index: 10;
    margin-right: -55px;
}

.ianstory {
    font-family: "Brother-1816-ExtraBold";
  padding-top: 40px;
  padding-bottom: 80px;
  width: 50vw;
  font-size: 60px;
  color: #1b5ab3;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
    position: absolute;
    top: 150px;
    left: 5vw;
}

.ianstory1 {
  font-family: "Brother-1816";
  padding-top: 40px;
  padding-bottom: 80px;
  width: 25vw;
  font-size: 20px;
  color: #1b5ab3;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
    position: absolute;
    top: 250px;
    left: 5vw;
}

.a1 {
  font-family: "Brother-1816-ExtraBold";
  padding-top: 40px;
  padding-bottom: 80px;
  width: 44vw;
  font-size: 60px;
  color: white;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
    position: absolute;
    top: 700px;
    left: 55vw;
}

.a2 {
  font-family: "Brother-1816-ExtraBold";
  padding-top: 40px;
  padding-bottom: 80px;
  width: 25vw;
  font-size: 40px;
  color: #F9E616;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
    position: absolute;
    top: 900px;
    left: 20vw;
    text-align: right;
}

.a3 {
  font-family: "Brother-1816";
  padding-top: 40px;
  padding-bottom: 80px;
  width: 25vw;
  font-size: 20px;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-align: right;
  z-index: 3;
    position: absolute;
    top: 950px;
    left: 20vw;
}

.b1 {
  font-family: "Brother-1816-ExtraBold";
  padding-top: 40px;
  padding-bottom: 80px;
  width: 44vw;
  font-size: 60px;
  color: #1b5ab3;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
    position: absolute;
    top: 1500px;
    left: 55vw;
}

.b2 {
    font-family: "Brother-1816-ExtraBold";
    padding-top: 40px;
    padding-bottom: 80px;
    width: 25vw;
    font-size: 40px;
    color: #DB504A;
    -webkit-font-smoothing: antialiased;
    z-index: 3;
      position: absolute;
      top: 1800px;
      left: 20vw;
      text-align: right;
}

.b3 {
  font-family: "Brother-1816";
  padding-top: 40px;
  padding-bottom: 80px;
  width: 25vw;
  font-size: 20px;
  color: #1b5ab3;
  -webkit-font-smoothing: antialiased;
  text-align: right;
  z-index: 3;
    position: absolute;
    top: 1850px;
    left: 20vw;
}

@media only screen and (max-width: 1150px) {
  .fe {
    display: none;
  }

  .first {
    display:none;
  }

  .bold {
    font-size: 40px;
  }

  #hide {
    visibility: hidden;
  }

  #menu {
    visibility: visible;
  }
  .menu {
    display: block;
  }

}