@import url(//db.onlinewebfonts.com/c/bb766bf6ac06d377a2e9a1899864fffa?family=Brother-1816-ExtraBold);

.front {
    height: 600vh;
    width: 100vw;
    background-image: url("img/road.png");
    background-position: center;
    background-repeat: repeat-y;
}

.car {
    width: 109.2px;
    height: 49.9px;
  margin-top: 30px;
  margin-bottom: 0;
}

.cardiv {
    width: 100px;
    height: 150px;
    position: fixed;
    right: 50%;
    top: 100px;
    z-index: 10;
    margin-right: -55px;
}

.ianstory {
    font-family: "Brother-1816-ExtraBold";
  padding-top: 40px;
  padding-bottom: 80px;
  width: 50vw;
  font-size: 60px;
  color: #1b5ab3;
  -webkit-font-smoothing: antialiased;
  z-index: 3;
    position: absolute;
    top: 150px;
    left: 5vw;
}